<script lang="ts">

    import { hasError, getError } from "../../utils/form";

    import Vue from 'vue';

	export default Vue.extend({

		name: 'Login' as string,

        data() {
			return {
				form: {
				    email: '' as string,
				    password: '' as string,
                },
				formErrors: [],
				loginIn: false
            }
        },

        methods: {
	        submit() {
		        this.$store.dispatch('SUBMIT_LOGIN_FORM', this.form);
	        },

	        hasErrors(field) {
		        return hasError(field, this.formErrors);
	        },

	        getErrors(field) {
		        return getError(field, this.formErrors);
	        },

	        goToPage(page) {
		        this.$router.push({ name: page  });
	        }
        }
	})
</script>

<template>
    <section class="w-full h-full py-10">

        <div class="sm:w-full md:w-2/3 lg:w-2/3 mx-auto">

            <div class="w-full">
                <div class="mb-5 mt-2 pt-3 text-center">
                    <p class="text-1xl em-font-avenir text-yellow-500">LOG IN TO YOUR ACCOUNT</p>
                </div>
            </div>

            <div class="w-full my-5 shadow-md bg-white p-5 border rounded">

                <div class="w-full mx-auto">

                    <div class="mb-5 mt-3 w-full">
                        <div
                            class="w-full">
                            <div>
                                <el-input
                                    :class="{'border border-red-500 rounded': hasErrors('email') }"
                                    placeholder="Enter your email address"
                                    v-model="form.email">
                                </el-input>
                            </div>
                            <div class="form-error" v-if="hasErrors('email')">
                                {{ getErrors('email') }}
                            </div>

                        </div>

                    </div>

                    <div class="mb-5 mt-3 w-full">
                        <div
                            class="w-full">

                            <div>
                                <el-input
                                    type="password"
                                    :class="{'border border-red-500 rounded': hasErrors('password') }"
                                    placeholder="Enter your password"
                                    v-model="form.password">
                                </el-input>
                            </div>

                            <div class="form-error" v-if="hasErrors('password')">
                                {{ getErrors('password') }}
                            </div>

                        </div>
                    </div>

                    <div class="mb-2 mt-5 w-full">
                        <p class="text-sm text-gray-500 em-font-avenir-normal">
                            Forgot password?
                            <router-link to="">Reset password</router-link>
                        </p>
                    </div>

                    <div class="mb-2 text-center">
                        <el-button
                            class="w-full"
                            type="success"
                            @click="submit">
                            LOGIN
                        </el-button>
                    </div>

                    <div class="my-2">
                        <div class="mb-1 mt-5 w-full">
                            <p class="text-sm text-gray-500 em-font-avenir-normal">
                                Not registered yet?
                            </p>
                        </div>

                        <div class="mb-2 text-center">
                            <el-button
                                class="w-full"
                                type="primary"
                                @click="goToPage('register')">
                                SIGN UP FOR FREE
                            </el-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
